@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
/* 
*{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

body{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f4f4f4;
    min-height: 100%;
    margin: 10%;
}

.container{
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    background-color: #FaEDCF;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.sign_up, .sign_in{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.7s ease;
}

.sign_up{
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.sign_in{
    width: 50%;
    z-index: 2;
}

form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

h1{
    font-weight: 900;
    margin: 0;
}

p{
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 15px 0 20px;
}

input{
    background-color: #efefef;
    padding: 12px 15px;
    margin: 8px 15px;
    width: 100%;
    border-radius: 8px;
    border: none;
}

a{
    color: #222;
    font-size: 15px;
    text-decoration: none;
    margin: 15px 0;
}

button{
    color: #fff;
    background-color: #0F1035;
    font-size: 12px;
    font-weight: 900;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 20px;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

button:active{
    transform: scale(0.95);
}

#sign_in, #sign_up{
    background-color: transparent;
    border: 2px solid #fff;
}
 */

*{
    font-family: 'Quicksand', sans-serif;
}

body{
    background: linear-gradient(to right, #DCF2F1, #7FC7D9);
}

canvas{
    opacity: 0.7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 530px;
    height: 530px;
    z-index: -1;
}

.container{
    overflow: hidden;
    opacity: 0.9;
    background-color: #fafafa;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    min-width: 500px;
    height: 500px;
    min-height: 500px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    padding: 8px;
}

.stuff{
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

#log{
    transform: translate(0, -15px);
}

.sign_up, .sign_in{
    text-align: center;
}

input{
    margin: 10px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 300px;
    text-align: center;
    height: 35px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    transition: transform 100ms ease-out;
}

input:active{
    transform: scale(0.95);
}

#sub-btn{
    width: 150px;
    margin: 10px;
    height: 35px;
    border: none;
    border-radius: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 900;
    background-color: rgba(48, 134, 199, 0.7);
    color: #fff;
    transition: transform 100ms ease-out;
    margin-bottom: 5px;
}

#sub-btn:hover{
    background-color: rgba(48, 134, 199, 1);
    cursor: pointer;
}

#sub-btn:active{
    transform: scale(0.95);
}

.social_sign_in a, .social_sign_up a{
    margin: 10px;
    font-size: 26px;
}

.other_side a, .email_sign_in a, .email_sign_up a{
    text-decoration: none;
    color: #0F1035;
}

p{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.other_side, .email_sign_in, .email_sign_up{
    text-align: center;
    margin: 15px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.7px;
}

.other_side a:visited{
    color: #000;
}
